name: Validate JSON on PR

on:
  pull_request:
    branches:
      - main

jobs:
  validate-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v3

      - name: Validate JSON files
        run: |
          apt update && apt install jq -y
          jq . data/chains.json > /dev/null
